.pgAppSquareButton {
  width:150px;
  height:150px;
  color:black;
  background-color: white;
  border:1px solid black;
  display:inline-block;
  border-radius:5px;
  margin:5px;
  padding:2px;
  vertical-align:bottom;
  text-decoration:none;
}
.pgAppSquareButton:hover {
  color:white;
  background-color:black;
}
.plexAppSquareInactiveButton {
  border:1px dashed grey;
  background-color:#DFDFDF;
}
.appsLargeIconEmoji {
  font-size:64px;
  text-align:center;
  margin-top:15px;
}
.doSomethingButton {
  font-size:12px;
  display:inline-block;
  border:1px solid black;
  border-radius:3px;
  padding:4px;
  margin:4px;
  background-color:#DFDFDF;
  color:black;
}
.doSomethingButton:hover {
  background-color:yellow;
}
.doSomethingButton_small {
  font-size:10px;
  display:inline-block;
  border:1px solid black;
  border-radius:3px;
  padding:1px;
  margin:1px;
  background-color:#DFDFDF;
  color:black;
}
.doSomethingButton_small:hover {
  background-color:yellow;
}
.doSomethingButton_tiny {
  font-size:9px;
  display:inline-block;
  border:1px solid black;
  border-radius:2px;
  padding:0px 1px 0px 1px;
  margin:0px 1px 0px 1px;
  background-color:#DFDFDF;
  color:black;
}
.doSomethingButton_tiny:hover {
  background-color:yellow;
}
.reduxStoreOverviewContainer {
  margin-bottom:20px;
  width:80%;
  padding:10px;
  border:1px solid black;
  max-height: 400px;
}
.storeHelloWorldFullDataContainer {
  height:200px;
  overflow:auto;
}
.makeNewLeftPanel {
  display:inline-block;
  text-align:right;
  width:20%;
  font-size:20px;
}
.makeNewRightPanel {
  display:inline-block;
  text-align:left;
  width:60%;
  height:30px;
  margin-left:20px;
  margin-right:5px;
  background-color:white;
  padding-left:5px;
  font-size:20px;
}

.devElemHide {
  display:none;
}
.devElemShow {}
.devElemShowInline {
  display: inline-block;
}
.qMarkToggleButton {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 5px 0px 5px;
  display: inline-block;
}
.qMarkToggleButton:hover {
  background-color: orange;
}

.toggleButtonParentContainer div.scoresContainer {
  margin: 5px 5px 10px 30px;
  display: none;
}
.toggleButtonParentContainer:hover div.scoresContainer {
  display: block;
}
.itemsInfoBox {
  padding: 5px;
  background-color: white;
  margin-bottom: 20px;
}
.techDetailsToggleButton {
  font-size: 18px;
}
