.goToUserProfileButton {
    text-decoration:none;
}
table#fetchingtable > tr > td.data {
    width:80px;
    padding:3px;
    border:1px solid black;
}
table#fetchingtable > tr > td {
    width:60px;
    padding:3px;
}
#connectedRelaysButton {
    display:inline-block;
}
#connectedRelaysButton:hover {
    background-color:yellow;
    cursor:pointer;
}
