.myProfileBox {
  position:relative;
}
.myProfileRightColumnContainer {
  display:inline-block;
  width:400px;
  height:200px;
  margin-left:10px;
}

.myProfileNameEditContainer {
  width:300px;
  height:50px;
  display:inline-block;
}
.myProfileNameContainer {
  font-size:18px;
  width:100%;
  margin-bottom:5px;
}
.myProfileAboutContainer {
  width:100%;
  max-height:70px;
}
.myProfileWebsiteContainer {
  font-size:12px;
  width:100%;
  max-height:70px;
  color:grey;
}
.myProfileAvatarContainer {
  display:inline-block;
  position:relative;
  width:250px;
  height:250px;
}
.myProfileAvatarImg {
  display:inline-block;
  background-color:blue;
  border:5px solid black;
  border-radius:250px;
  width:95%;
  height:95%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myProfileAvatarImgSmall {
  display:inline-block;
  background-color:blue;
  border:1px solid black;
  border-radius:250px;
  width:95%;
  height:95%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radioButtonDescriptor {
  margin-left:10px;
  font-size:18px;
}
