body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold';
    position: relative;
    color: white;
    height: 100%;
    width:100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body, body>div, #app {
    color:black;
    box-sizing: border-box;
    height:100%;
    width:100%;
}

fieldset#app {
    box-sizing: border-box;
    height:100%;
    width:100%;
}

div, pre {
    box-sizing: border-box;
    vertical-align:top;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow:scroll;
}
div.h1 {
    font-size:36px;
    text-align:center;
}
div.h2 {
    font-size:28px;
    text-align:center;
}
div.h3 {
    font-size:22px;
    text-align:center;
}
div.h4 {
    font-size:18px;
    text-align:center;
}
.infoItem {
    margin-top:15px;
    font-size:14px;
}
#root {
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}
#app {
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    white-space: nowrap;
}
#menuCol {
    display:inline-block;
    height:100%;
}
#mainCol {
    padding:0px 5px 0px 5px;
    margin:0px;
    display:inline-block;
    height:100%;
    background-color:#EFEFEF;
}
#mainPanel {
    width:100%;
    padding-top:20px;
}
