.grapevineToggleButton {
  display:inline-block;
  padding: 5px;
  width: 50px;
  height: 52px;
  border: 1px solid black;
  border-radius:3px;
  margin-left:15px;
  bottom:3px;
  right:5px;
  position:relative;
}
.grapevineToggleButton:hover {
  background-color:purple;
  hover:white;
}
.grapevineToggleButtonOff {
  background-color:white;
  color:black;
}
.grapevineToggleButtonOn {
  background-color:green;
  color:white;
}
.grapevineProfileControlPanel {
  padding:5px;
  display:block;
  text-align:left;
}

.grapevinePageColA {
  display:inline-block;
  width:15%;
  vertical-align:bottom;
}
.grapevinePageSpacer1Col {
  display:inline-block;
  width:2%;
  vertical-align:bottom;
}
.grapevinePageSpacer2Col {
  display:inline-block;
  width:5%;
  vertical-align:bottom;
}
.grapevinePageColB {
  display:inline-block;
  width:5%;
  vertical-align:bottom;
}
.calculationRowsHeaderContainer {
  background-color:#4f4f4f;
  color:white;

  font-size:10px;
}
.calculationRowContainer {
  font-size:10px;
}
