.editProfileFieldContainer {

}
.editProfileLeftColContainer {
    display:inline-block;
    width:200px;
    text-align:right;
}
.editProfileRightColContainer {
    display:inline-block;
    width:400px;
    margin-left:10px;
}
