.userProfileGrapevineContainer {
    border-radius:10px;
    background-color:#EFEFEF;
}
.userProfileGrapevineContainer_hidden {
    display:none;
}
.leaveRatingButton {
    font-size:12px;
    display:inline-block;
    border:1px solid black;
    border-radius:5px;
    padding:4px;
    margin-left:10px;
    background-color:#DFDFDF;
    color:black;
    width:100px;
}
.leaveRatingButton:hover {
    background-color:yellow;
}
.leaveRatingButton_hidden {
    display:none;
}
.grapevineSelector {
    margin-left:10px;
    position:absolute;
    right:50px;
}
.grapevineSelector_hidden {
    display:none;
}
.grapevineContainerLeftCol {
    display:inline-block;
    width:150px;
    padding-top:5px;
    position:relative;
    font-size:12px;
    text-align:left;
    color:purple;
}

/* Tooltip text */

.grapevineContainerLeftCol .tooltiptext {
    display: none;
    color: #fff;
    background-color:purple;
    border:1px solid black;
    padding: 5px;
    border-radius: 6px;
    position: absolute;

    top:-5px;
    left:110px;
    font-size:16px;
    width:350px;
}

/* Show the tooltip text when you mouse over the tooltip container */

.grapevineContainerLeftCol:hover .tooltiptext {
    display: inline-block;
}

.grapevineItemContainer {
    margin-bottom:5px;
    position:relative;
}
.grapevineItemContainer_hidden {
    margin-bottom:5px;
    position:relative;
    display:none;
}
.reactTooltip {
  z-index:2;
}
