.grapevineSettingsItemContainer {
    margin:0px 20px 20px 20px;
    padding: 10px;
    border: 1px dashed grey;
}
.grapevineSettingsItemLeftCol {
    display:inline-block;
    width:150px;
    font-size:22px;
    padding-top:5px;

    text-align:left;
}
.grapevineSettingsItemMainToggleCol {
    display:inline-block;
    width:150px;
    margin-left:10px;
    text-align:left;
}
.grapevineSettingsItemRatingNameCol {
    display:inline-block;
    width:90px;
    margin-left:10px;
    text-align:left;
    font-size:14px;
}
.grapevineSettingsItemRatingToggleButtonCol {
    display:inline-block;
    width:100px;
    margin-left:10px;
    text-align:left;
}
