.listenerBox {
  border: 1px solid orange;
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
  padding: 5px;
}
.listenerEventBox {
  border: 1px dashed grey;
  font-size: 8px;
  padding: 2px;
  height: 100px;
  width: 45%;
  overflow: auto;
  display: inline-block;
}
.listenerWordBox {
  border: 1px dashed grey;
  font-size: 8px;
  padding: 2px;
  height: 100px;
  width: 45%;
  margin-left: 5px;
  overflow: auto;
  display: inline-block;
}
.listenerInfoContainer {
  padding: 5px;
  background-color: white;
  margin: 10px;
}
.listSelectButton {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  color: purple;
  font-size: 14px;
  text-align: left;
  padding: 5px;
}
.listSelectButton:hover {
  background-color: yellow;
  color: black;
}
.listSelectedButton {
  background-color: blue;
  color: white;
}
.curatedListMainPageLink {
  color: blue;
  font-size: 12px;
  width: 70px;
  border-radius: 3px;
  padding: 3px;
}
.curatedListMainPageLink:hover {
  color: white;
  background-color: black;
}
