.listenerBox {
  border: 1px solid orange;
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
  padding: 5px;
}
.listenerEventBox {
  border: 1px dashed grey;
  font-size: 8px;
  padding: 2px;
  height: 100px;
  width: 45%;
  overflow: auto;
  display: inline-block;
}
.listenerWordBox {
  border: 1px dashed grey;
  font-size: 8px;
  padding: 2px;
  height: 100px;
  width: 45%;
  margin-left: 5px;
  overflow: auto;
  display: inline-block;
}
.listenerInfoContainer {
  padding: 5px;
  background-color: white;
  margin: 10px;
}
